<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="../assets/js/vue.js"></script>
  <title>v-on 实例</title>
</head>

<body>
  <h1>v-on 实例</h1>
  <hr>
  <div id="app">
    <!--今天做记分器-->
    本场比赛得分：{{fenshu}}
    <p>
      <button v-on:click="jiafen">加分</button>
      <button @click="jianfen">减分</button><br>
      <!--不再用绑定事件绑定方法时，可以有的简单的缩写方法-->
      <input type="text" v-on:keyup.enter="onEnter" v-model="fenshu2">
      <!--v-model绑定数据源-->
      <!--除了绑定click之外，我们还可以绑定其它事件-->
      <!-- <input type="text" v-on:keyup.13="onEnter" v-model="fenshu2"> -->
      <!--13是键盘码-->
    </p>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        fenshu: 0,
        fenshu2: 0
      },
      methods: { //vue构造器新的属性：方法（methods）；注意是属性，不是方法
        jiafen: function () {
          this.fenshu++
        },
        jianfen: function () {
          this.fenshu--
        },
        onEnter: function () {
          this.fenshu = this.fenshu + parseInt(this.fenshu2) //要做int类型转化，否则加的是字符串，用parseInt
        }
      }
    })
  </script>
</body>

</html>