<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>姓名案例_watch实现</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <!-- note:watch实现姓名案例
      computed和watch之间的区别：
        1.computed能完成的功能，watch都可以完成。
          tag:能用computed时用computed，watch是命令式且重复的(https://cn.vuejs.org/v2/guide/computed.html#%E8%AE%A1%E7%AE%97%E5%B1%9E%E6%80%A7-vs-%E4%BE%A6%E5%90%AC%E5%B1%9E%E6%80%A7)
        2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
      两个重要的小原则：
        1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm 或 组件实例对象。
        2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），最好写成箭头函数，
          这样this的指向才是vm 或 组件实例对象。
          tag:箭头函数没有自己的this，普通函数有自己的this（vm管理的函数指向Vue，非vm管理的函数指向Window）
    -->
    <!-- 准备好一个容器-->
    <div id="root">
      姓：<input type="text" v-model="firstName" /> <br /><br />
      名：<input type="text" v-model="lastName" /> <br /><br />
      全名：<span>{{fullName}}</span> <br /><br />
    </div>
  </body>

  <script type="text/javascript">
    Vue.config.productionTip = false; //阻止 vue 在启动时生成生产提示。

    const vm = new Vue({
      el: "#root",
      data: {
        firstName: "张",
        lastName: "三",
        fullName: "张-三",
      },
      watch: {
        //tag:val是newValue的简写形成
        firstName(val) {
          //tag:computed的return是立即执行的，无法实现异步
          setTimeout(() => {
            console.log(this);
            this.fullName = val + "-" + this.lastName;
          }, 1000);
        },
        lastName(val) {
          this.fullName = this.firstName + "-" + val;
        },
      },
    });
  </script>
</html>
