<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type="text/javascript" src="assets/js/vue.js"></script>
  <title>v-model 实例</title>
</head>

<body>
  <h1>v-model 实例</h1>
  <hr>
  <div id="app">
    <!--双向数据绑定-->
    <!--表单中常见的标签绑定，双向数据绑定多用在表单中，并且VUE中效率很快-->
    <!--文本框绑定-->
    <p>原始文本信息:{{message}}</p>
    <h3>文本框</h3>
    <p>v-model:<input type="text" v-model="message"></p>
    <p>v-model.lazy:<input type="text" v-model.lazy="message"></p>
    <!--lazy修饰符-->
    <p>v-model.number:<input type="text" v-model.number="message"></p>
    <!--number修饰符，如果最先输入的是字符串，那么这个修饰符就没用了-->
    <p>v-model.trim:<input type="text" v-model.trim="message"></p>
    <!--trim修饰符，去空格-->
    <!--文本域绑定-->
    <hr>
    <h3>文本域</h3>
    <!--alias语法生成:tarea-->
    <textarea cols="30" rows="10" v-model="message"></textarea>
    <hr>
    <h3>多选框绑定一个值</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <h3>多选绑定一个数组</h3>
    <p>
      <input type="checkbox" id="liyang" value="liyang" v-model="web_Names">
      <!--value值要写，不然没效果-->
      <label for="liyang">liyang</label><br />
      <input type="checkbox" id="leo" value="leo" v-model="web_Names">
      <label for="liyang">leo</label><br />
      <input type="checkbox" id="qifengle" value="qifengle" v-model="web_Names">
      <label for="liyang">qifengle</label>
      <p>{{web_Names}}</p>
    </p>
    <h3>单选按钮绑定</h3>
    <p>
      <input type="radio" id="one" value="男" v-model="sex">
      <!--for 属性规定 label 与哪个表单元素绑定。区v-for-->
      <label for="one">男</label>
      <input type="radio" id="two" value="女" v-model="sex">
      <label for="one">女</label>
      <p>你选择的性别是：{{sex}}</p>
    </p>
  </div>

  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        message: 'hello world!',
        isTrue: true,
        web_Names: [], //要写成数组，不然没用//数组通过data中的这个属性才能看出来，不然看不出来
        sex: '男' //先写标签绑定，还是先写vue构造器中data都一样
      }
    })
  </script>
</body>

</html>